<%# locals: (recourses:, pagy: nil, cached: true) -%>
<% name = @lookup_context.find('row', @lookup_context.prefixes, true).short_identifier.split('/')[-2] %>
<% key = name.singularize.to_sym %>

<%= turbo_frame_tag :results, data: { turbo_action: :advance }, class: 'w-100' do %>
  <% if recourses.empty? %>
    <p>No <%= controller_path.split('/').last %>.</p>
  <% else %>
    <%# cache_if cached, [recourses, (recourses.unscoped.size if cached), controller_path].compact do %>
      <div class='table-responsive'>
        <table class='table caption-top table-hover align-middle md:table-stacked'>
          <thead>
            <tr>
              <% @recourse_headers = true %>
              <%= render 'row', key => recourses.first %>
              <!-- <th scope='col' class='text-end'>Edit</th> -->
            </tr>
          </thead>
          <tbody>
            <% @recourse_headers = false %>
            <% recourses.each do |recourse| %>
              <%# cache_if (cached && !params.key?(:q)), [recourse, controller_path] do %>
                <tr>
                  <%= render 'row', key => recourse %>
                  <%#= column header: 'Edit', class: 'text-end' do %>
                    <%#= edit_link_to action: :edit, id: 1 %>
                  <%# end %>
                </tr>
              <%# end %>
            <% end %>
        </tbody>
        </table>
      </div>

      <% if pagy %>
        <div class='d-flex align-items-center'>
          <div class='ps-2 flex-grow-1'><%== pagy.info_tag.gsub(/of (\d*?) in total/) { "of #{number_with_delimiter $1} in total" } %></div>
          <div class='pe-2'><%== pagy.series_nav(:bootstrap, classes: 'pagination mb-0') if pagy.last > 1 %></div>
        </div>
      <% end %>
    <%# end %>
  <% end %>
<% end %>
